@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.day-title, .title {
  margin-bottom: 0.5rem;
}

.title {
  cursor: pointer;
}

.calendar, .lists {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: top;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.day, .list {
  font-size: 2rem;
  color: rgba(15, 15, 15, 0.8);
  font-family: 'Permanent Marker', cursive;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px 3px rgba(29, 29, 92, 0.2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

.day {
  width: 11%;
}

.list {
  width: 16%;
}

hr {
  border-top: 2px solid rgba(29, 29, 92, 0.2);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.meal {
  padding-bottom: 1rem;
}

.breakfast {
  color: goldenrod;
}

.lunch {
  color: darkolivegreen;
}

.dinner {
  color: navy;
}

.snacks {

}

.food-item, .list-item {
  min-height: 1.75rem;
  font-size: 1.25rem;
  color: rgba(15, 15, 15, 0.8);
  font-family: 'Roboto', sans-serif;
}