@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.calendar, .lists {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.day, .list {
  font-size: 2rem;
  color: rgba(15, 15, 15, 0.8);
  font-family: 'Permanent Marker', cursive;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px 3px rgba(29, 29, 92, 0.2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

.day {
  width: 11%;
}

.list {
  width: 16%;
}

hr {
  color: rgba(29, 29, 92, 0.2);
}

.meal {
  padding-top: 2rem;
}

.breakfast {
  color: goldenrod;
}

.lunch {
  color: darkolivegreen;
}

.dinner {
  color: navy;
}

.snacks {

}

.food-item, .list-item {
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: rgba(15, 15, 15, 0.8);
  font-family: 'Roboto', sans-serif;
}